.title__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-1);
  line-height: var(--line-height-1);
}

.close__modal {
  background-color: var(--grey-6);
  height: 25px;
  width: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.department__description {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-3);
  line-height: var(--line-height-1);
}

.select__container {
  width: 100%;
  margin-bottom: 10px;
}

.user__select {
  width: 500px;
  height: 50px;
  margin-right: 10px;
}

.hire__button {
  height: 50px;
  background-color: var(--sucess);
  color: var(--grey-6);
  padding: 16px 40px;
}

.user__container {
  background-color: var(--grey-5);
  height: 290px;
  padding: 20px;
}

.user__card {
  height: 200px;
  width: 300px;
  background-color: var(--grey-6);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.user__name {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-1);
  line-height: var(--line-height-1);
  text-align: center;
}

.fire__button {
  height: 50px;
  border: 1px solid var(--error);
  color: var(--error);
  padding: 16px 40px;
  background-color: var(--grey-6);
  width: 90%;
}

.form__input {
  width: 422px;
}

.modal__wrapper {
  padding: 10px;
  width: 560px;
}

.save__button{
    width: 458px;
    height: 52px;
    background-color: var(--sucess);
    color: var(--grey-6);
}

.delete__button{
    width: 458px;
    height: 52px;
    background-color: var(--error);
    color: var(--grey-6);
}

/* create department */

.company__selector{
    
}