.user__info--container{
    border: 1px solid var(--grey-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    margin: 16px 140px;
    padding: 22px 32px;
    background-color: var(--grey-5);
}
.user__name{
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-2);
}

.user__email{
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-3);
    line-height: var(--line-height-3);
}

.company__info--empty{
    border: 1px solid var(--grey-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px 140px;
    padding: 200px;
    background-color: var(--grey-5);
}

.empty__company--title{
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-1);
}

.company__info--info{
    border: 1px solid var(--grey-2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 16px 140px;
}

.header__info{
    width: 100%;
    background-color: var(--brand-color-1);
    color: var(--grey-6);
    text-align: center;
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-1);
}

.hired__employee--card{
    padding: 20px;
    margin: 20px;
    border: 1px solid var(--brand-color-1);
}

.employee__name{
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-2);
    line-height: var(--line-height-2);
}

